@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<h3>Profile Information for @Model.Product.Title</h3>

<div class="content">
   
    <!-- Added by sheetal to resize image -->
    <img class="card-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title' style="max-width: 35%; height: auto; display: block; margin: 0 auto 0 0;">
    <p class="card-text">@Model.Product.Description</p>
    <p class="card-text">Skills: @Model.Product.Skills</p>
    <p class="card-text"> Resume Link: <a href="@Model.Product.Url" target="_blank">@Model.Product.Title's Resume</a></p>
    <!-- Display Meetup Preference as uneditable radio buttons -->
    <p class="card-text">
        Meetup Preference:
        <label>
            <input type="radio" name="meetupPreference" value="Virtual" disabled @(Model.Product.Preference == "Virtual" ? "checked" : "") /> Virtual
        </label>
        <label>
            <input type="radio" name="meetupPreference" value="Inperson" disabled @(Model.Product.Preference == "Inperson" ? "checked" : "") /> In Person
        </label>
    </p>
    <p class="card-text">Email: @Model.Product.Email</p>
    <p class="card-text">Age: @Model.Product.Age</p>
    <div class="row">
        <div class="col-md-3">
            <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary btn-block btn-sm">Update</a>
        </div>
            </div>
</div>